body {
background: #0d1117;
font-family: Arial;
color: white;
}

.container {
max-width: 500px;
margin: auto;
}

h2 {
text-align: center;
}

.form {
display: flex;
gap: 10px;
margin-bottom: 15px;
}

input, select, button {
padding: 10px;
border-radius: 8px;
border: none;
}

button {
background: #2563eb;
color: white;
cursor: pointer;
}

.box {
padding: 15px;
border-radius: 10px;
margin-bottom: 15px;
}

.vermelho { background: #ef4444; }
.amarelo { background: #f59e0b; }
.azul { background: #3b82f6; }
.verde { background: #10b981; }

ul {
list-style: none;
padding: 0;
}

li {
display: flex;
justify-content: space-between;
}
